<div class="module-header">
	<div class="module-title"><h1>Rules of the Roleplay Fight Club</h1></div>
</div>

<div class="wrapper" id="rules">
	<ol>
		<li>No Bullshitting! Some examples are but not limited to: "I win because plot" and 
		"You did not deal with my attack properly". Any instances of infractions like these will be considered plot induced 
		cheating or PIC or PIBS for short. In each match, both parties should look at the other person's character 
		sheet to get a flavour of each character's abilities so they can detect any form of suspicion. For example, 
		a cyborg and aquamancer would not out of nowhere spam fireballs at their opponent for example, however a 
		cyborg that can convert elements can. </li>

		<li>Stemming from the above rule, if your opponent did not deal with your attack properly 
		you must provide a reasonable explanation. An example of a logical explanation can be is that your opponent turned around 
		while you aimed a drop chop intending to hit their skull.</li>

		<li>Clearly explain what your attack does otherwise you will be asking for a smart opponent 
		to rewrite your Original Character's attack description for them. Instances like these will lead to excessive drama and 
		unecessary "flame wars". Put another way, NO ONE LINERS allowed!</li>

		<li>Learn to admit defeat when it happens, no matter how "perfect" your character may seem 
		even the most "powerful" characters can be defeated.</li>

		<li>In instances where another party suspects cheating, a judge will come in to judge the match 
		and whatever ruling the judge gives out that decision is final.</li>
		
		<li>Have fun!</li>
	</ol>
</div>
