<div class="module-header">
	<div class="left-control"><%= link_to 'Cancel', user_path(@user), :class=>"btn btn-xs btn-default" %></div>
	<div class="module-title"><h1>Add New Character</h1></div>
</div>

<div class="wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>
