<div class="jumbotron">
	<div class="wrapper text-center">
	<h1>Welcome to our Roleplay Fight Club!</h1>
	<p class="lead">Please 
		<%= link_to 'sign up', signup_path %> or 
		<%= link_to 'login', login_path %></p>
	</div>
</div>
